@{
    ViewBag.Title = "Contacts";
}

<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>О компании</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800&display=swap" rel="stylesheet">
    <style>
        body {
            
            background-color: #f8f9fa;
            color: #212529;
            margin: 0;
            padding: 0;
        }

        header {
           
            background-size: 100% auto;
            background-position: top;
            text-align: center;
            padding: 100px;
        }

        h1 {
            font-size: 36px;
            font-weight: 700;
            margin-bottom: 20px;
            color:black
        }

        h2 {
            font-size: 24px;
            font-weight: 400;
            margin-bottom: 20px;
            color: black
        }

        h3 {
            font-size: 20px;
            font-weight: 400;
            margin-bottom: 20px;
            color: black
        }

        h4 {
            font-size: 18px;
            font-weight: 400;
            margin-bottom: 20px;
            color: black
        }

        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            color: black
        }

            ul li {
                margin-bottom: 10px;
                color: black
            }

        img {
            margin: 20px 0;
            
        }
    </style>
</head>
<body background =" none">

    <header class="header" >
        <h1>О компании</h1>
        <h2>
            Покупаем и привозим авто из США, Кореи, Китая и других стран мира.
            Доставим авто в любую точку мира! Наш опыт 10 лет работы, более 20 000 купленных и доставленных авто.
        </h2>

        <h1>Наши услуги:</h1>
        <h3>
            <ul>
                <li>Подбор и покупка авто в США, Кореи на аукционах или покупка нового электромобиля в Китае</li>
                <li>Наземная перевозка с аукциона в порт погрузки</li>
                <li>Оформление всех экспортных документов</li>
                <li>Доставка авто</li>
                <li>Растаможка и оформление</li>
            </ul>
        </h3>

        <h1>Мы официальные партнеры американских и корейских аукционов автомобилей</h1>
        <img src="https://optim.tildacdn.one/tild3464-6166-4733-b933-616165643564/-/resize/300x/-/format/webp/glovis2-450x225.jpg" width="300" alt="">
        <img src="https://optim.tildacdn.one/tild6664-3330-4234-b764-386264343433/-/resize/300x/-/format/webp/logo.png" width="300" alt="">
        <img src="https://optim.tildacdn.one/tild6337-6139-4633-b634-313962376233/-/resize/300x/-/format/webp/e992a7437ca455ca2dfc.png" width="300" alt="">

        <h1>Наши Контакты:</h1>
        <h4>
            Bulevardul Iuri Gagarin 7, Chișinău 2000, Молдова<br>
            Часы работы:<br>
            Пн-пт: 9:00-18:00<br>
            Сб: 10:00-19:00
        </h4>
    </header>
 
</html>
